# .bashrc

# User specific aliases and functions

alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'

# Source global definitions
if [ -f /etc/bashrc ]; then
        . /etc/bashrc
fi

[ -z "$RSYSLOGLOGGED" ] && rsysloglogin
export HISTTIMEFORMAT='%F %T > ';
export PROMPT_COMMAND='{ msg=$(history 1 | { read x y; echo $y; }| tr \\\" \\\`); /usr/bin/logger -p "local5.info" -t "user-history" "{\"user\":\"$(whoami)\", \"sshinfo\":\"$(who am i)\", \"pwd\":\"$(pwd)\", \"cmd\":\"$msg\", \"icon\":\":pencil2:\" }";  }'
trap log2syslog DEBUG;
