#!/usr/bin/python3

import sys
import requests

data_url="http://rsyslog.eefocus.com/rsyslog/"
while True:
    for line in sys.stdin:
        msg = line.strip()
        if not msg:
            break
        dict_data = {"data":  msg}
        # r = requests.post(data_url, data=dict_data)