## settings for m.ops.eefocus.com refers to mysql.ac.eefocus.tech

server {
    listen 80;
    server_name m.ops.eefocus.com select.eefocus.com;
    root /usr/share/nginx/mysql/;

    index index.php;

    client_max_body_size 0;
    chunked_transfer_encoding on;

    charset utf-8;

    location ~* \.(ico|css|js|gif|jpe?g|png)(\?[0-9]+)?$ {
        expires max;
        log_not_found off;
        access_log  off;
    }

    location / {

        allow 192.168.88.0/24;
        allow 218.4.226.238;
        deny all;

        autoindex off;
        try_files $uri $uri/ /index.php?$args;
    }

    error_page 500 502 503 504 /50x.html;
    location = /50x.html {
        root /usr/share/nginx/html/;
    }

    error_page 404 /404.html;
    location = /404.html {
        root /usr/share/nginx/html/;
    }

    location ~ \.php$ {
        try_files $uri =404;
        fastcgi_intercept_errors on;
        fastcgi_pass php-fpm;
        fastcgi_index index.php;
        fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
        include        /etc/nginx/fastcgi_params;
        # include        fastcgi_params;
    }

    location ~ /\.ht {
        deny  all;
    }
    access_log /dev/null;
    error_log /dev/null;
}

## end of settings for m.ops.eefocus.com
# -------------------------------------------------