## settings for ldap.ac.eefocus.tech
# server {
#     listen 80;
#     server_name ldap.ac.eefocus.tech;
#     rewrite ^(.*)$ https://${server_name}$1 permanent;
# }

server {
    listen 80;
    server_name ldap.eefocus.com;

    index index.php;
    root /usr/share/phpldapadmin/htdocs/;
    
    client_max_body_size 0;
    chunked_transfer_encoding on;
    
    charset utf-8;
    access_log  /dev/null;

    location ~* \.(ico|css|js|gif|jpe?g|png)(\?[0-9]+)?$ {
        expires max;
        log_not_found off;
        access_log  off;
    }

    location / {
        allow 192.168.88.0/24;
        allow 218.4.226.238;
        deny all;
        autoindex off;
        try_files $uri $uri/ /index.php?$args;
    }

    #error_page  404              /404.html;

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root /usr/share/phpldapadmin/htdocs/;
    }


    location ~ \.php$ {
        try_files $uri =404;
        fastcgi_intercept_errors on;
        fastcgi_pass   php-fpm;
        fastcgi_index  index.php;
        fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
        include        /etc/nginx/fastcgi_params;
        # include fastcgi_params;
    }

    # deny access to .htaccess files, if Apache's document root
    # concurs with nginx's one
    #
    location ~ /\.ht {
        deny  all;
    }
}
## end of settings for ldap.ac.eefocus.tech
# -------------------------------------------------
