# PORT="11211"
# USER="memcached"
# MAXCONN="1024"
# CACHESIZE="64"
# OPTIONS=""


PORT="{{ item.port }}"
USER="memcached"
MAXCONN="{{ item.maxcon }}"
CACHESIZE="{{ item.cachesize }}"
OPTIONS="{{ item.ops }}"