[Unit]
Description=The Fast Reverse Proxy Client Manager
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/opt/{{ frp_name}}/frpc -c /opt/{{ frp_name}}/frpc.ini
ExecReload=/opt/{{ frp_name}}/frpc reload -c /opt/{{ frp_name}}/frpc.ini
Restart=on-failure
RestartSec=42s
#PrivateTmp=true
#RuntimeDirectory=php-fpm
#RuntimeDirectoryMode=0755

TimeoutStartSec=0
Delegate=yes
KillMode=process

[Install]
WantedBy=multi-user.target
